<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <style>
      h1{ text-shadow: #FFFFFF 0 0 12px, #A91079 0 0 25px, #A91079 0 0 35px,
      #A91079 0 0 45px;
       color: white;
       text-align: center;
       }
       body{
        background-color: black;
       }
    </style>
  </head>
  <body>
    {{>navbar}}
    <form id="home" action="/home" method="post">
    <h1 class="text">Welcome to way2cater</h1>
    </form>
    

  </body>
</html>