<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Navbar Example</title>
    <style>
      /* CSS for the navigation bar */ .navbar { overflow: hidden;
      background-color: #333; /* Change the background color as needed */ }
      .navbar a { float: left; display: block; color: #f2f2f2; text-align:
      center; padding: 14px 20px; text-decoration: none; } .navbar a:hover {
      background-color: #ddd; /* Change the background color on hover */ color:
      black; }
    </style>
  </head>
  <body>

    <div class="navbar">
      <a href="/templates/views/index.hbs">Home</a>
      <a href="/register">signup</a>
      <a href="/login">login</a>
    </div>

    {{! <div style="padding: 20px">
  <!-- Content goes here -->
  <h2>Page Content</h2>
  <p>This is some content on the page.</p>
</div> }}

  </body>
</html>